a#bs-editbutton-inserttemplate {
	content: "icon-insert-template";
}

td.bs-if-cell {
	vertical-align: middle;
}

li.x-boundlist-item.indent-1 {
	text-indent: 10px;
}

.bs-ve-image.thumb.center {
	width: auto;
}

.bs-insertfile-icon {
	width: 48px;
	height: 48px;
	background-position: center center;
	background-repeat: no-repeat;
}